.line-number-container {
    min-width: 20px;
    float: left;
    background: #ccc;
    text-align: right;
    padding: 0 10px;
    height: 10000px;
}

.cursor {
    height:15px;
    width: 1px;
    background: red;
    display: block;
    position: absolute;
    z-index:5;
    -webkit-animation:pulse 1s infinite;
    -moz-animation:pulse 1s infinite;
    display:inline-block;
    top: 1px;
    left: 40px;
}

.hide {
    display: none;
}

@-webkit-keyframes pulse {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes pulse {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
}
